<div class="row mt-0 pt-0">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1">
    <div class="card border-0 z-depth-0 p-">
      <div class="card-image mt-0">
        <img src="http://via.placeholder.com/100x90" class="img-fluid">
        <span class="card-title m-0 p-1 red-text">Missing</span>
        <a class="btn-floating halfway-fab waves-effect waves-light white activator">
          <i class="material-icons black-text">more_vert</i>
        </a>
      </div>
      <div class="card-reveal p-1 m-0">
        <span class="card-title">Joshua Kwabla
          <i class="material-icons right">close</i>
        </span>
        <span class="lead">Age
          <br> Gender
          <br> Nationality
        </span>
        <p>
          <b>Last Seen</b>
          <br>12 Months ago in Accra</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1">
    <div class="card border-0 z-depth-0 p-">
      <div class="card-image mt-0">
        <img src="http://via.placeholder.com/100x90" class="img-fluid">
        <span class="card-title m-0 p-1 red-text">Missing</span>
        <a class="btn-floating halfway-fab waves-effect waves-light white activator">
          <i class="material-icons black-text">more_vert</i>
        </a>
      </div>
      <div class="card-reveal p-1 m-0">
        <span class="card-title">Joshua Kwabla
          <i class="material-icons right">close</i>
        </span>
        <span class="lead">Age
          <br> Gender
          <br> Nationality
        </span>
        <p>
          <b>Last Seen</b>
          <br>12 Months ago in Accra</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1">
    <div class="card border-0 z-depth-0 p-">
      <div class="card-image mt-0">
        <img src="http://via.placeholder.com/100x90" class="img-fluid">
        <span class="card-title m-0 p-1 red-text">Missing</span>
        <a class="btn-floating halfway-fab waves-effect waves-light white activator">
          <i class="material-icons black-text">more_vert</i>
        </a>
      </div>
      <div class="card-reveal p-1 m-0">
        <span class="card-title">Joshua Kwabla
          <i class="material-icons right">close</i>
        </span>
        <span class="lead">Age
          <br> Gender
          <br> Nationality
        </span>
        <p>
          <b>Last Seen</b>
          <br>12 Months ago in Accra</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1">
    <div class="card border-0 z-depth-0 p-">
      <div class="card-image mt-0">
        <img src="http://via.placeholder.com/100x90" class="img-fluid">
        <span class="card-title m-0 p-1 red-text">Missing</span>
        <a class="btn-floating halfway-fab waves-effect waves-light white activator">
          <i class="material-icons black-text">more_vert</i>
        </a>
      </div>
      <div class="card-reveal p-1 m-0">
        <span class="card-title">Joshua Kwabla
          <i class="material-icons right">close</i>
        </span>
        <span class="lead">Age
          <br> Gender
          <br> Nationality
        </span>
        <p>
          <b>Last Seen</b>
          <br>12 Months ago in Accra</p>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<br>


<div class="cta" style="text-align: center;">
  <a class="waves-effect waves-pink btn-large red white-text pulse darken-2" (click)="getPerson()">
    <span class="lead">Report Missing Person</span>
    <br>
  </a>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="social col-lg-4">
      <div class="light-green p-2 mb-3 font-weight-bold">404 Social</div>
      <blockquote>
        Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <a class="badge waves-light white center right">
          <img src="../../../assets/facebook.svg" alt="" class="blue  p-1 btn">
        </a>
      </blockquote>
      <div class="divider"></div>
      <blockquote>
        Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <a class="badge waves-light white center right">
          <img src="../../../assets/twitter.svg" alt="" class="blue  p-1 btn">
        </a>
      </blockquote>
      <div class="divider"></div>
      <blockquote>
        Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <a class="badge waves-light white center right">
          <img src="../../../assets/youtube.svg" alt="" class="blue  p-1 btn">
        </a>
      </blockquote>
      <div class="divider"></div>
      <blockquote>
        Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <a class="badge waves-light white center right">
          <img src="../../../assets/instagram.svg" alt="" class="blue  p-1 btn">
        </a>
      </blockquote>
      <div class="divider"></div>

    </div>
    <div class="news col-lg-4">
      <div class="light-green p-2 mb-3 font-weight-bold">404 News</div>
      <p class="text-truncate"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quidem laboriosam id perspiciatis officia. Ipsum
        dolor dolore ullam nam a iure, blanditiis consectetur deleniti cupiditate voluptatum vel possimus corporis velit.</p>
    </div>
    <div class="clearfix"></div>

    <div class="stats col-lg-3 red darken-4 offset-lg-1">
      <div class="center m-3">
        <h1 class="display-1 white-text font-weight-bold">23K</h1>
        <span class="yellow-text">FOUND SO FAR</span>
        <div class="divider mt-2"></div>
        <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae id, officia in exercitationem, at quas iure
        dolore a veritatis labore eos necessitatibus, adipisci minima quae accusantium laboriosam hic! Sint, magnam?
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>
